<body>
    <div class="title">
        <h1 class="title-heading">Recipe Finder</h1>
        <p class="title-text">This Edamam recipe API has data of tens of thousands of foods, including international dishes. Enter <strong>ANY</strong> sort of food (e.g.:pasta, chicken enchilada, dumpling, etc) to see its magic.</p>
    </div>

    <div class="middle">
        <form action="/" method="post">
            <input class="input"type="text" name="foodName" placeholder="Enter your favourite dish, I'm sure we have it! :)" autofocus>
            <button class="middle-button">Search</button>
        </form>
    <p class="middle-text">*Note: The API only allows a maximum of 10 searches per minute</p>
    </div>