<%- include('partials/header'); -%>
<%- include('partials/topmid'); -%>
    <div class="bottom" style="display: flex; justify-content: center; align-items: center;">
        <h1 class="bottom-title"><%=foodTitle%></h1>
    </div>
</body>
</html>